
body{
  background-image: url('/resources/images/food.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  margin: 100px;
  padding-top: 50px;
  opacity: 0.5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
}
h1 {
  color: blue;
  text-align: center;
  font-size: 7em;
}
.sortby-title{
  color: white;
}
#new-food{
  color: white;
}


/*edit meals*/

.edit {
  margin-bottom: 10px;
}

.edit-field {
float: right;
}

.panel > .panel-heading {
  color: #F7F9F9;
  background-color: #124559;
}

.panel > .panel-body {
  color: #124559;
  background-color: #F7F9F9;
}

.panel > .panel-footer {
  color: #124559;
  background-color: #F7F9F9;
  border-color: #F7F9F9;
}
.panel-default {
  border-color: #D9CAB3;
}

.panel p {
  font-size: 1.2em;
}

.panel h3 {
  font-size: 1.5em;
}